.git
.gitignore
.dockerignore
Dockerfile
docker-compose.yml

log/*
!log/.keep
tmp/*
!tmp/.keep

.bundle
vendor/bundle

.env
.env.*

*.swp
*.log
.DS_Store
.idea
.vscode

spec/tmp
public/assets
public/packs
public/packs-test
public/system

Gemfile.lock.bak
