<div class="card card-default">
  <div class="card-heading">
    <div class="row">
      <div class="col-md-6"><%= t('admin.logs.title') %></div>
      <div class="col-md-6">
        <div class="float-right">
          <%= home_link %>
        </div>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table width='100%' id='logs_table' class='example table-autosort table-autofilter table table-striped table-bordered table-hover table-sm mx-auto w-auto'>
        <thead>
        <tr>
          <th><%= t('admin.logs.text') %></th>
        </tr>
        </thead>
        <tbody>
        <% @lines.each do |line| %>
          <tr>
            <td><%= line %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
